<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
      <form action="register" method="post">
      <label>User Name :</label>
      <input type="text" name="username" />
      <br/><br/>
      
      <label>Email id :</label>
      <input type="email" name="email" />
      <br/><br/>
      
      <label>Password :</label>
      <input type="password" name="password" />
      <br/><br/>
      
       <label>Gender :</label>
       <input type="radio" name="gender" value="Male">M
       <input type="radio" name="gender" value="Female">F
       <input type="radio" name="gender" value="Others">O
       <br/><br/>
       
       <label>Role :</label>
       <input type="radio" name="role" value="Admin">Admin
       <input type="radio" name="role" value="User">User
       <br/><br/>
       
       <label>Address :</label>
       <textarea name="address"></textarea>
       <br/><br/>
       
       <input type="submit" value="REGISTER">
       
    </form>

</body>
</html>